<!-- <% include ../partials/header %>
    <div class="row">
        <div class="col-md-3">
            <p> class="lead">show page</p>
            
                    <!-- <p><%= secret.secret %></p>
                    <p>
                            <em>Submitted by: <a href="/users/<%= secrets.author.id %>"><%= secret.author.username %></a>
                    </p>
                    <% if(currentUser && secret.author.id.equals(currentUser._id){ %>
                        <a class="btn btn-warning" href="/secrets/<%= secret._id %>/edit">Edit secret</a>
                        <form action="/secrets/<%= secret._id %>?_method=DELETE" method="POST">
                            <input type="submit" class="btn btn-danger" value="Delete">
                        </form>
                    <% } %> -->
                <!-- </div>
            </div> -->


            
<!-- <% include ../partials/footer %> --> -->



<html>
    <head></head>
    <body>
        neemama
    </body>
</html>